video {
  width: 600px;
  height: 450px;
  background-color: rgba(1, 1, 1, 0.8);
  -webkit-filter: blur(3px)
                  brightness(4.0)
                  saturate(4.1)
                  opacity(0.8)
                  hue-rotate(-95deg)
                  invert(0.1)
                  sepia(0.3);
  filter: blur(3px)
          brightness(4.0)
          saturate(4.1)
          opacity(0.8)
          hue-rotate(-95deg)
          invert(0.1)
          sepia(0.3);
}