@font-face {
  font-family: 'knewave-outline';
  src: url('../fonts/knewave-outline-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'knewave-outline';
  background: linear-gradient(
    #ff0058,
    #b06edd
  );
  background-attachment: fixed;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-service, .save {
  background-color: rgba(1, 1, 1, 0.4);
  position: absolute;
  top: -80px;
  height: 40px;
  width: 50px;
  right: 0;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}

.close-service {
  color: #f00;
}

.save {
  color: #f0f;
}

.close-service:hover, .save:hover {
  color: #fff;
}

.save {
  right: 52px;
}
