@font-face {
  font-family: 'knewave-outline';
  src: url('../fonts/knewave-outline-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'knewave-outline';
  background: linear-gradient(
    #ff0058,
    #b06edd
  );
  background-attachment: fixed;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-service, .save {
  font-family: Arial;
  background-color: rgba(1, 1, 1, 0.4);
  position: absolute;
  top: -80px;
  height: 40px;
  width: 50px;
  right: 0;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}

.close-service {
  color: #f00;
}

.save {
  color: #f0f;
}

.close-service:hover, .save:hover {
  color: #fff;
}

.save {
  right: 52px;
}

#error {
  padding: 15px 20px;
  background-color: rgba(1, 1, 1, 0.8);
  color: #fff;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  display: inline-block;
  top: 70px;
  width: 340px;
  opacity: 0;
  left: -340px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all;
  z-index: 99;
}

#error.active {
  opacity: 1;
  left: 0;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
}

.handle {
  background-color: rgba(1, 1, 1, 0.9);
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  top: -40px;
}

#canvas-wrapper, #video-wrapper {
  position: absolute;
  z-index: 2;
  top: 105px;
}