@font-face {
  font-family: 'knewave-outline';
  src: url('../fonts/knewave-outline-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'knewave-outline';
  background: linear-gradient(
    #ff0058,
    #b06edd
  );
  background-attachment: fixed;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
